.svg-icon {
  width: 16px;
  // height: 16px;
}

@font-face {
  font-family: 'iconfont';  /* Project id 3178785 */
  src: url('https://at.alicdn.com/t/font_3178785_9js63k81re.woff2?t=1647844458860') format('woff2'),
       url('https://at.alicdn.com/t/font_3178785_9js63k81re.woff?t=1647844458860') format('woff'),
       url('https://at.alicdn.com/t/font_3178785_9js63k81re.ttf?t=1647844458860') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vertical_line:before {
  content: "\e63a";
}

.icon-close:before {
  content: "\e69e";
}

.icon-youjian:before {
  content: "\e624";
}

.icon-liwu:before {
  content: "\e601";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-games:before {
  content: "\e67f";
}

.icon-f-vip:before {
  content: "\e76b";
}

.icon-zuidahua_huaban1:before {
  content: "\e673";
}

.icon-zuixiaohua:before {
  content: "\e644";
}
